/* General Styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
    color: black;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Car's Propertie Box */
#carProperties {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Buttons */
button {
    background-color: green;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;
}

button:hover {
    background-color: red;
}

/* Dropdown */
#carColor {
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9em;
}

/* Car Details Text */
#carDetails {
    font-size: 0.9em;
    color: black;
    margin-top: 10px;
}

/* Car Image */
#carImage {
    margin-top: 15px;
    width: 200px;
    height: auto;
    border-radius: 8px;
}

/* Label */
label {
    display: flex;
    justify-items: center;
    margin-top: 10px;
    flex-direction: column;
}
